/*
.my-code-block {

    border-radius: 12px;
    padding: 1.2rem 1.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
    color: #fff;
    overflow-x: auto;
}
*/

.new-tech {
  
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: center;
  align-items: center;
  overflow: auto; /* ensures it contains floated/absolute children */
}


.my-code-block,
.my-code-block code {
    white-space: pre-wrap;
  word-break: break-word;
  opacity: .5 !important;
  font-size: .8rem !important;
}

/* Default override for all code blocks */
pre[class*="language-"],
code[class*="language-"] pre[class*="language-"] *,
code[class*="language-"] * {
  text-shadow: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 1 !important;
}

/*
.my-code-block,
.my-code-block code,
.my-code-block .token {
  color: unset !important;
}



/*
/*
.my-code-block,
.my-code-block code,
.my-code-block .token {
  color: #0000007c !important;
  background: none !important;
}
*/

.section-title {
  color: #000000 !important;
  font-weight: bold;
  font-size: 1.2rem !important;
  text-align: center !important;
  opacity: 1 !important;
  white-space: normal !important;   /* <-- allow wrapping */
  word-break: break-word;
  overflow-wrap: break-word;        /* <-- helps long words wrap */
}


.typewriter-section-box {
  height: 27rem; /* or try 250px, 300px, etc. */
/* min-width: 100vw;
max-width: 100vw; */
  border-radius: 20px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.85);
  transition: min-height 0.2s;  display: flex;
  flex-direction: column;
    justify-content: center; /* vertical centering */

  
}

.section-paragraph,
.section-paragraph pre,
.section-paragraph code {
  color: #000000 !important;
  font-size: 1rem !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  word-break: break-word !important;
  padding: .5em 3rem !important;
  margin: 0rem !important;
  background: transparent !important;
  border-radius: 8px;
  box-sizing: border-box;
  display: block !important;
}

.tech-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
}