/* Default override for all code blocks */
pre[class*="language-"],
code[class*="language-"] pre[class*="language-"] *,
code[class*="language-"] * {
  text-shadow: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: .5 !important;
}

/*
.my-code-block,
.my-code-block code,
.my-code-block .token {
  color: unset !important;
}



/*
/*
.my-code-block,
.my-code-block code,
.my-code-block .token {
  color: #0000007c !important;
  background: none !important;
}
*/

