/* Default override for all code blocks */
pre[class*="language-"],
code[class*="language-"] pre[class*="language-"] *,
code[class*="language-"] * {
  text-shadow: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Custom subtle style */
.typewriter-subtle {
  font-size: 2rem;
  opacity: 0.3;
  color: #213547;
}

/* Custom bold style */
.typewriter-bold {
  font-size: 2rem;
  opacity: 1;
  color: #6610f2;
  font-weight: bold;
}