.app-container {
  margin: 0 auto; // Remove top margin if present
  padding: 0;     // Remove top padding if present
  overscroll-behavior: none;
}

/* Default override for all code blocks */
pre,
code,
pre[class*="language-"],
code[class*="language-"],
.my-code-block {
  text-shadow: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 1 !important;
}


.primary-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0.25em 2em;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;
  display: block;         // Make it a block element

  text-align: center;     // Center text inside the button
}

.primary-button:hover,
.primary-button:focus {
  background: rgba(255,255,255,0.5);
  color: #222;
}




// phone section styles

.phone-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  z-index: 1;
  position: relative;     // Add this for stacking context
}

.phone-animation {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.phone-content-col {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.phone-content-box {
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-content-box h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.phone-content-box hr {
  border-top: 2px solid #ffffff;
  width: 80%;
  margin: 1rem auto;
  opacity: 1;
}

.phone-content-box p {
  color: #fff;
  text-align: left;
  margin: 0;
}

// About section styles

.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff; // Add this line!
  position: relative;     // Add this for stacking context
}

.about-text-box {
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text-box h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.about-text-box hr {
  border-top: 2px solid #ffffff;
  width: 80%;
  margin: 1rem auto;
  opacity: 1;
}

.about-text-box p {
  color: #fff;
  text-align: left;
  margin: 0;
}


.about-img {
  width: 65%;
  max-width: 350px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}












